#!/usr/bin/with-contenv sh

# Config GoCD Server
export SERVER_WORK_DIR="{{getv "/config/workdir" "/data"}}"
export GO_CONFIG_DIR="{{getv "/config/configdir" "/data/config"}}"
export STDOUT_LOG_FILE="{{getv "config/logfile" "/data/logs/gocd-server.log"}}"
{{- if (exists "/config/memory")}}
export SERVER_MAX_MEM={{getv "/config/memory"}}
{{- end}}
{{- if (exists "/config/agentkey")}}
export AGENT_KEY="{{getv "/config/agentkey"}}"
{{- end}}

# Download plugins
{{- if ge (len "/plugin") 1}}
if [ ! -d "${SERVER_WORK_DIR}/plugins/external" ]; then
    mkdir -p "${SERVER_WORK_DIR}/plugins/external"
fi
    {{- range $i, $key := ls "/plugin"}}
if [ ! -f "${SERVER_WORK_DIR}/plugins/external/$(basename {{getv (printf "/plugin/%s" $key)}})" ] || [ "{{getv "/config/forcedownloadplugins" "false"}}" == "true" ]; then
echo "Download plugin {{$key}}..."
curl "{{getv (printf "/plugin/%s" $key)}}" -Lo "${SERVER_WORK_DIR}/plugins/external/$(basename {{getv (printf "/plugin/%s" $key)}})"
fi
    {{- end}}
chown -R ${USER}:${GROUP} "${SERVER_WORK_DIR}/plugins"
{{- end}}

# Create use account
{{- if ge (len "/user") 1}}
if [ -f "${SERVER_WORK_DIR}/htpasswd" ]; then
    rm ${SERVER_WORK_DIR}/htpasswd
fi
    {{- range $i, $key := ls "/user"}}
htpasswd -csb "${SERVER_WORK_DIR}/htpasswd" {{$key}} "{{getv (printf "/user/%s" $key)}}"
    {{- end}}
if [ ! -f "${SERVER_WORK_DIR}/config/cruise-config.xml" ]; then
mkdir -p "${SERVER_WORK_DIR}/config"
cat << EOF > "${SERVER_WORK_DIR}/config/cruise-config.xml"
<?xml version="1.0" encoding="utf-8"?>
<cruise xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="cruise-config.xsd" schemaVersion="90">
  <server>
    <security>
      <passwordFile path="/data/htpasswd" />
    </security>
  </server>
</cruise>
EOF
chown -R ${USER}:${GROUP} ${SERVER_WORK_DIR}/config
fi
{{- end}}



if [ ! -d "${SERVER_WORK_DIR}/logs" ]; then
    mkdir -p "${SERVER_WORK_DIR}/logs"
    chown -R gocd:gocd "${SERVER_WORK_DIR}/logs"
fi

exec s6-setuidgid ${USER} "${APP_HOME}/server.sh"

